In [2]:
# Import relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Create a dataframe from csv
df=pd.read_csv(r"C:\Users\OluwaPhil\Desktop\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin1')

df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
#11. What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
df.groupby(['Item'])["Y2014","Y2017"].sum()

C:\Users\OLUWAP~1\AppData\Local\Temp/ipykernel_10068/4238451833.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Item'])["Y2014","Y2017"].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [6]:
#12. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
df['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [7]:
#13. What is the total number and percentage of missing data in 2016 to 2 decimal places?
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
#14. Which year had the highest correlation with â€˜Element Codeâ€™? 
df.corr(method = 'kendall')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.003807,0.000077,0.016511,0.017399,0.014528,0.014069,0.015546
Item Code,-0.003807,1.000000,-0.015003,0.092185,0.093783,0.094614,0.094090,0.093288
Element Code,0.000077,-0.015003,1.000000,-0.002848,-0.005358,-0.000947,0.001603,-0.002801
Y2014,0.016511,0.092185,-0.002848,1.000000,0.909291,0.889675,0.872313,0.861810
Y2015,0.017399,0.093783,-0.005358,0.909291,1.000000,0.908289,0.888758,0.875977
Y2016,0.014528,0.094614,-0.000947,0.889675,0.908289,1.000000,0.909152,0.887806
Y2017,0.014069,0.094090,0.001603,0.872313,0.888758,0.909152,1.000000,0.916117
Y2018,0.015546,0.093288,-0.002801,0.861810,0.875977,0.887806,0.916117,1.000000

In [9]:
#15. What year has the highest sum of Import Quantity?
#Hint- Perform a groupby operation on â€˜Elementâ€™ and use the resulting Dataframe to answer the question
df.groupby(['Element']).count()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,5295,5295,5295,5295,5295,5295,5244,5245,5250,5258,5256
Export Quantity,4403,4403,4403,4403,4403,4403,3660,3704,3653,3660,3646
Fat supply quantity (g/capita/day),5023,5023,5023,5023,5023,5023,4965,4974,4980,4982,4987
Feed,1319,1319,1319,1319,1319,1319,1216,1177,1215,1213,1225
Food,4941,4941,4941,4941,4941,4941,4896,4901,4910,4912,4913
Food supply (kcal/capita/day),5014,5014,5014,5014,5014,5014,4947,4955,4963,4965,4969
Food supply quantity (kg/capita/yr),4905,4905,4905,4905,4905,4905,4860,4865,4874,4876,4877
Import Quantity,5139,5139,5139,5139,5139,5139,4919,4911,4908,4929,4945
Losses,2009,2009,2009,2009,2009,2009,2009,2009,2009,2009,2008
Other uses (non-food),1732,1732,1732,1732,1732,1732,1662,1667,1634,1619,1655
Processing,2010,2010,2010,2010,2010,2010,1987,1995,1996,1998,2003
Production,3881,3881,3881,3881,3881,3881,3830,3828,3838,3829,3846
Protein supply quantity (g/capita/day),5023,5023,5023,5023,5023,5023,4963,4971,4978,4980,4986
Residuals,4655,4655,4655,4655,4655,4655,4604,4605,4610,4618,4616
Seed,762,762,762,762,762,762,762,759,759,758,758
Stock Variation,4232,4232,4232,4232,4232,4232,4230,4229,4231,4231,4217
Total Population - Both sexes,45,45,45,45,45,45,45,45,45,45,45
Tourist consumption,555,555,555,555,555,555,555,555,555,555,555

In [10]:
#16. What is the total number of the sum of Production in 2014?

#Hint- Perform a groupby operation on â€˜Elementâ€™ and use the resulting Dataframe to answer the question
df.groupby(['Element']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [11]:
#17. Which of these elements had the highest sum in 2018?

#Hint-  Select columns â€˜Y2018â€™ and â€˜Elementâ€™, Perform a groupby operation on â€˜Elementâ€™ on the selected dataframe and answer the  question.
df.groupby(['Element'])['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [12]:
#18. Which of these elements had the 3rd lowest sum in 2018?

#Hint-  Select columns â€˜Y2018â€™ and â€˜Elementâ€™, Perform a groupby operation on â€˜Elementâ€™ on the selected dataframe and answer the question. 

df.groupby(['Element'])['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [13]:
#19. What is the total Import Quantity in Algeria in 2018?
df.groupby(['Area', 'Element'])['Y2018'].sum()

Area      Element
Algeria   Domestic supply quantity                  90023.42
          Export Quantity                             811.54
          Fat supply quantity (g/capita/day)          309.09
          Feed                                      10668.00
          Food                                      63736.33
                                                      ...
Zimbabwe  Protein supply quantity (g/capita/day)      176.57
          Residuals                                  -546.00
          Seed                                        140.00
          Stock Variation                            -447.00
          Total Population - Both sexes             14439.00
Name: Y2018, Length: 803, dtype: float64

In [ ]:
#20. What is the total number of unique countries in the dataset?

In [14]:
df['Area'].nunique()

49